{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap4 %}
{% block head %}
    <link href="{% static 'css/index_schedule.css' %}" type="text/css" rel="stylesheet">
    <style>
      .header-text {
        margin-top: 2%;
        margin-bottom: 2%;
      }
      
      .btn-color {
        background-color: #26a69a;
      }
      
      img.bg {
        height: 80%;
      }
      
      .margin-bot {
        margin-bottom: 100px !important;
      }
      
      .logo-telegram {
        width: 20%;
      }
    </style>
{% endblock %}

{% block body %}
  <nav class="">
    <div class="nav-wrapper">
      <a href="{% url 'watch:index' %}" class="center brand-logo logo-text">Knock Knock</a>
    </div>
  </nav>
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <!--<h1 class="header center teal-text text-lighten-2">낙낙 KNOCK KNOCK</h1>-->
        <div class="text-center">
          <h4><i class="far fa-bell"></i></h4>
        </div>
        <div class="row center">
          <h5 class="header col s12 light header-text">
            보고 싶은 영화를 등록하고<br>알림을 받으세요.</h5>
        </div>
         <!--autocomplete search form-->
        <div class="row center">
          <form class="mx-auto" action="{% url 'watch:search_movie' %}" method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              {% buttons %}
                <button class="btn btn-color" type="submit">검색</button>
              {% endbuttons %}
          </form>
          
        </div>
        <br><br>
      </div>      
    </div>
    <div class="parallax"><img class="bg" src="{% static background_url %}" alt="movie scene"></div>
  </div>
  
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <!-- 로그인했을 때 찜한 목록 -->
        <div class="col-12 s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="far fa-laugh-squint"></i></h2>
            <h5 class="center">방영 예정 알리미</h5>
            <!--<div class="mt-5 mb-5">-->
	            <div class="row center"> 
  			        
    			        {% if zzim_ready %}
      			        <ul class="timeline" style="width:100%">
      			          {% for zzim in zzim_ready %}
    				          <li>
              					<p></p><a target="_blank" href="{% url 'watch:movie_detail' zzim.0.id %}">{{ zzim.0.title }}</a>
              					{{zzim.2}}</p>
              					<p>{{zzim.1}}</p>
              				</li>
              				{% endfor %}
              			</ul>
            			{% else %}
                    <p class="light mx-auto">아직 보고 싶은 영화를 등록하지 않았어요.
                    등록해서 알림 서비스를 받아보세요 <i class="far fa-bell"></i></p>
                  {% endif %}
                <!--</div>-->
          		</div>
          	</div>
          </div>
          
        
        
        <div class="col-12 s12 m4 margin-bot">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="far fa-thumbs-up"></i></h2>
            <h5 class="center">이 영화는 어떠세요?</h5>
            <div class="center">
              <a href="{% url 'watch:movie_detail' recommend_movie.id %}"><h5>{{ recommend_schedule.title }}</h5></a>
              <h6>{{ recommend_schedule.channel }} {{ recommend_datetime }}</h6>
            </div>
              <a href="{% url 'watch:movie_detail' recommend_movie.id %}"><img class="rounded" src="{{ recommend_movie.posterUrl }}" alt="{{ recommend_movie.title }}" width="100%"></a>
          </div>
        </div>
        
        <div class="col-12 s12 m4 margin-bot">
          <div class="icon-block">
            <h2 class="center brown-text"><img class="logo-telegram" src="{% static 'image/telegram.png' %}"></h2>
            <h6 class="center">텔레그램에서도 낙낙을 만날 수 있습니다</h6>
            <div class="center mt-4">
              <a href="https://t.me/KnockAlarmBot" target="_blank"><h6>낙낙 챗봇</a> <i class="fas fa-comment-dots"></h6></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">낙차팀 : 동영 & 소정</h5>
          <p class="grey-text text-lighten-4">SSAFY에서 한 학기동안 web을 배우고 하는 첫 프로젝트 결과물입니다. 그동안 감사했습니다~:D</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  
{% endblock %}