{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% load bootstrap4%}

<!--참고 : https://bootsnipp.com/snippets/KB2bD -->
{% block head %}
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->
<link href="{% static 'css/my_page.css'%}" rel='stylesheet'>
<link href="{% static 'css/index_schedule.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/zzim_list.css'%}" rel='stylesheet'>
<style>
  .resize {
    width:10px;
  }
  .margin-bot {
    margin-bottom: 56px !important;
  }
</style>
<link href="{% static 'css/search_bar.css'%}" rel='stylesheet'>
{% endblock %}

{% block body %}
<nav class="">
  <div class="nav-wrapper row center">
      <div class="row center">
        <form class="form-inline" action="{% url 'watch:search_movie' %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
              <button class="btn btn-color btn-xs ml-1" type="submit">검색</button>
            {% endbuttons %}
        </form>
      </div>
  </div>
</nav>
<!-- Jumbotron -->
<!--<div class="container">-->
<div class="jumbotron margin-bot">
 
  <!-- Title -->
  <div class="text-center">
  <!--<h3 class="display-4">{{movie.title}}</h3>-->
  <h4 class="card-title h2 pb-2 mb-3"><strong>{{request.user.username}}</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4">
    <img src="{% static 'image/동물들01.jpg' %}" class="img-fluid" alt="{{movie.title}}">
  </div>
		<!--<div class="d-flex justify-content-center h-100">-->
			
  
  
  <div class="container center">
  <div class="row text-center center">
		 <h4 class="text-center mx-auto">{{request.user}}님의 찜 리스트</h4>
<div style="width:100%">
  <div class="row justify-content-center">
    <section class="content">
    <!--<div class="col-md-8 col-md-offset-2">-->
    <div>
      <!--<div class="panel panel-default">-->
        <div class="pannel-body">
          <div class="table-container">
          <table class="table table-filter">
          <!--<table>-->
            <tbody>
              {% for movie in like_movies %}
              
              <tr data-status="pagado">
                <td>
                    <a href="{% url 'accounts:follow' movie.id %}"><i class="fas fa-heart"></i></a>
                </td>
                <td>
                  <img src="{{ movie.posterUrl }}" class="resize media-photo pull-left">
                </td>
                <td>
                  <div class="media">
                    <!--<div>-->
                    <a href="{% url 'watch:movie_detail' movie.id %}">
                      <!--media body때문에 오류났었음-->
                    <!--<div class="media-body">-->
                    <div>
                      <span class="media-meta pull-right">
                      <!--<span class="pull-right">-->
                        제작년도:{{movie.productionYear}}</span>
                      <h5 class="title">{{movie.title}}</h5>
                      <p class="summary">genre : {{movie.genre}} country : {{movie.country}} director : {{movie.director}}</p>
                    </div>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
        </div>
      <!--</div>-->
    </div>
    </section>
  </div>
  </div>
  </div>
  </div>
<a href="{% url 'accounts:logout' %}">로그아웃</a>
</div>
</div>
{% endblock %}
